*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Mulish", sans-serif;
  background: rgb(22, 22, 22);
  background: radial-gradient(
    circle,
    rgb(194, 194, 194) 0%,
    rgba(38, 44, 61, 0.79) 31%,
    rgba(47, 54, 76, 1) 65%,
    rgb(33, 41, 61) 100%
  );
  /* background-color: #262c3d; */
  /* font-family: "Quicksand", sans-serif; */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    30deg,
    rgb(9, 5, 87) 0%,
    rgba(16, 9, 121, 1) 19%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}
