* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #00feba, #5b548a);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

header h2 {
  font-weight: 300;
  font-size: 40px;
}

header img {
  width: 60px;
}

.card {
  width: 600px;
  color: #fff;
  padding-top: 40px;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 50px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background-color: #ebfffc5c;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.search button i {
  font-size: 14px;
  color: white;
}

.weather-icon {
  width: 150px;
}

.weather-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.weather h1 {
  font-size: 60px;
  font-weight: 500;
  margin-top: 30px;
}

.weather h2 {
  font-size: 50px;
  font-weight: 400;
}

span {
  height: 190px;
  border: 2px solid rgba(255, 255, 255, 0.338);
  margin: 0px 60px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 100px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather,
.error {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 850px) {
  .card {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .card {
    width: 90%;
    margin: auto;
  }
  .search {
    justify-content: right;
  }
  .weather h1 {
    font-size: 60px;
  }
  .weather h2 {
    font-size: 30px;
  }
  .weather-icon {
    width: 120px;
  }
  .humidity,
  .wind {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .search {
    width: 300px;
    margin: auto;
  }
  .search button {
    background-color: transparent;
  }
  .search input {
    font-size: 14px;
    height: 50px;
  }
  .col img {
    width: 25px;
  }
  .card {
    padding-top: 60px;
  }
}
